* {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(to right, black, rgb(27, 27, 27));
}

.header {
  color: white;
  background-image: linear-gradient(to right, black, rgb(65, 64, 64));
  display: flex;
  justify-content: center;
  padding: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 2px 3px 3px rgb(54, 54, 54);
  box-shadow: rgba(239, 239, 241, 0.25) 0px 13px 27px -5px, rgba(250, 249, 249, 0.3) 0px 8px 16px -8px;
  font-size: 32px;
  font-weight: 700;
}
.question-one{
  color:white;
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.main-of-q1{
  padding: 22px;
}
.hello-world-hd{
  color:white;
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-top: 6px;
}
.hello-world-hd2{
  color:white;
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-top: 6px;
}

.ul{
  list-style:circle;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.table{
  border: 1px solid white;
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-size: 20px; 
  display: flex;
  justify-content: space-around;
}
.diffrent-between{
  border: 3px solid white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 550;
}
.question-two{
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 550;
}
.card{
  border: 3px solid white;
  width: 350px;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-weight: 540;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.email{
  font-size: 15px ;
  display: flex;
  justify-content: center;
  color: grey;
}
.name{
  font-size: 28px ;
  display: flex;
  justify-content: center;
}
.titleAndBody{
  font-size: 28px ;
  display: flex;
  justify-content: flex-start;
}
.titleInnerText{
  display: flex;
  margin-left: 25px;
  font-size: 18px;
}
.contact{
  font-size: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}